body {
	padding: 0;
	margin: 0;
	background: white url("img/back_img2.jpg") no-repeat;
	background-size: cover;
}

.container {
	padding: 30px 0 30px 0;
}

.confirm_container {
	width: 500px;
	padding: 10px 20px 10px 20px;
	border-radius: 2px;
	margin: 0 auto;
	background: rgba(255,255,255,0.9);
	box-shadow: 2px 2px 5px black;
}

.choose {
	padding: 5px 0;
}

.menu_name {
	width: 400px;
	display: inline-block;
	padding: 0;
	margin: 0;
}

.menu_count {
	width: 60px;
	text-align: right;
	display: inline-block;
	float: right;
	padding: 0;
	margin: 0;
}

h1 {
	text-align: center;
	padding: 15px 0 0 0;
	margin: 0;
}

.total_count {
	border-top: solid 1px;
	border-color: gray;
}

.return_button,
.confirm_button {
	width: 100%;
	text-align: center;
	padding: 0;
	margin: 10px 0;
}

.confirm {
	width: 200px;
	height: 70px;
	font-size: 30px;
	color: #FFF;
	background-color: #75A9FF;
	padding: 10px 30px;
	border-radius: 5px;
}

.confirm:hover {
	background-color: #4689FF;
}

.return {
	width: 200px;
	height: 70px;
	font-size: 30px;
	color: #999999;
	background-color: #FFF;
	padding: 10px 30px;
	border: solid 2px;
	border-color: #999999;
	border-radius: 5px;
}

.return:hover {
	color: #FF8856;
	background-color: #FFF;
	border: solid 2px;
	border-color: #FF8856;
}

span {
	color: red;
}

.return_button {
	width: 100%;
	text-align: center;
	margin: 20px 0;
}