body {
	padding: 0;
	margin: 0;
	background: white url("img/back_img2.jpg") no-repeat;
	background-size: cover;
}

.wrapper {
	padding: 20px 0 20px;
}

.container {
	width: 500px;
	padding: 10px;
	border-radius: 2px;
	background: rgba(255,255,255,0.9);
	margin: 0 auto;
	box-shadow: 2px 2px 5px black;
}

.choose {
	margin-bottom: 5px;
}

.menu_name {
	width: 400px;
	display: inline-block;
	padding: 0;
	margin: 0;
}

.menu_count {
	width: 60px;
	text-align: right;
	display: inline-block;
	float: right;
	padding: 0;
	margin: 0;
}

h1 {
	text-align: center;
	padding-top: 15px; 
	margin:0;
}

.total_count {
	border-top: solid 1px;
	border-color: gray;
}

.button {
	width: 200px;
	background-color: #FFF;
	padding: 0;
	margin: 5px auto;
	border-radius: 5px;
}

button{
	width: 200px;
	height: 70px;
	font-size: 30px;
	padding: 10px 30px;
	border-radius: 5px;
}

.confirm_btn {
	color: #FFF;
	background-color: #1E90FF;
	opacity: 0.8;
}

.confirm_btn:hover {
	opacity: 1.0;
}

.return_btn {
	color: #999999;
	background-color: #FFF;
	border: solid 2px;
	border-color: #999999;
}

.return_btn:hover {
	color: #FF8856;
	border-color: #FF8856;
}

span {
	color: red;
}